<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home  </title>
    <link rel="stylesheet" href="/static/bootstrap.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<style>
    .logo{
        font-family: 'Bebas Neue', sans-serif;
    }
</style>
</head>
<body>

    <main>

        <div class="container">
           <nav class="pt-5 d-flex justify-content-between">
                <a href="#" class="logo"> <h2> Mini Tube </h2> </a>
                
                <div class="filter">
                    <a href="#" class="p-2 border rounded mr-3"> Yangi </a>
                    <a href="#" class="p-2 border rounded mr-3"> Top </a>
                    <a href="#" class="p-2 border rounded mr-3"> Yoqdi </a>
                    <a href="#" class="p-2 border rounded mr-3"> Muhokamada </a>
                </div>


           </nav>
        </div>

        <div class="container mt-5">
            <div class="row">
               
                <div class="col-md-2">
                    <div class="card pl-3">
                        <p><a href="#"> Hammasi  </a></p>
                        <p><a href="#"> Obunalar  </a></p>
                        <p><a href="#"> Tarix  </a></p>
                        <p><a href="#"> Saqlangan  </a></p>
                        <p><a href="#"> Kirish  </a></p>
                        <p><a href="#"> Chiqish  </a></p>
                    </div>
                </div>

                <div class="col-md-10">
                    <div class="row">
                        
                        <div class="col-md-4 ">
                            <iframe width="100%" height="215" src="https://www.youtube.com/embed/xjUO9tHiKm0?si=Mox21DDwToB3vhSe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius: 15px;"></iframe>
                        
                        
                        </div>

                        <div class="col-md-4 ">
                            <iframe width="100%" height="215" src="https://www.youtube.com/embed/xjUO9tHiKm0?si=Mox21DDwToB3vhSe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius: 15px;"></iframe>
                        </div>

                        <div class="col-md-4 ">
                            <iframe width="100%" height="215" src="https://www.youtube.com/embed/xjUO9tHiKm0?si=Mox21DDwToB3vhSe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius: 15px;"></iframe>
                        </div>

                        <div class="col-md-4 ">
                            <iframe width="100%" height="215" src="https://www.youtube.com/embed/xjUO9tHiKm0?si=Mox21DDwToB3vhSe" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen style="border-radius: 15px;"></iframe>
                        </div>


                    </div>
                </div>



            </div>
        </div>
    
    </main>
    
</body>
</html>